

.card {

  margin: 0 auto;
  width: 180px;
  @media (min-width: 900px) {
    width: 300px;
  }
  min-height: 320px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  line-height: 2.5;
  font-size: 1.8rem;


  @media (max-width: 350px) {
    width: 150px;
  }

  color: #333;
  text-align: center;
  padding: 2rem 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}